/** LOGIN **/
.login-title{ width: 320px; margin: 0 auto 10px auto; }
#loginform{ width: 320px; }
#loginform .input{ padding: 4px 5px; border: 0 none; width: 300px; border: 1px solid #ccc; }
#loginform p{ margin-bottom: 7px; }
#wp-submit{ padding: 10px 15px; cursor: pointer; font-size: 14px; font-weight: bold; }
.lost-password{ font-size: 12px; text-decoration: underline; display: block; margin: 0 auto 7px auto; }
.login-error{ background: #F1DCDC; border: 1px solid #CBA5A5; padding: 5px 10px 0 10px; margin-bottom: 15px; }
.login-error p{ margin-bottom: 5px; }

/** REGISTER **/
.signupform .clearBoth{ clear:both; }

.regerror{ background: #F1DCDC; border: 1px solid #CBA5A5; padding: 5px 10px; margin-bottom: 10px; }
.regerror p{ margin-bottom: 5px; }
.regsuccess{ background: #fffade; border: 1px solid #f5e79a; padding: 5px 10px; margin-bottom: 10px; }

.signupform p{ margin-bottom: 5px; }
.signupform p label{ display: block; width: 150px; float: left; color: #444; }
.signupform p .signupfield{ width: 250px; padding: 3px 5px; border: 1px solid #ccc; }
.signupform #registersubmit{ display: block; width: 100px; padding: 10px 15px; margin-left: 150px; font-size: 13px; font-weight: bold; }

.registerform h2{ font-size: 18px; margin-bottom: 5px; }
.fieldnote{ font-size: 12px; color: #666; margin-bottom: 15px; }

.agree-error{ padding: 7px 10px; background-color: #f8ecc8; border: 1px solid #eeccaa; margin-bottom: 15px; text-align: center; font-size: 14px; }
.agree-error p{ margin-bottom: 5px; }
#agreepage{ margin-bottom: 15px; }
.agreecheck{ margin-bottom: 10px; }
.agreecheck label{ display: block; }
#chk_agree{ margin-right: 5px; }
.agreesubmit input{ padding: 5px 10px; display: block; width: 70px; }

.confirm-email-form .user_email{ width: 350px; padding: 4px 5px; }
.confirm-email-form p{ margin-bottom: 10px; }
.confirm_success{ background: #f8ecc8; border: 1px solid #eeccaa; padding: 10px; margin-bottom: 15px; }
.confirm_error{ background: #F1DCDC; border: 1px solid #CBA5A5; padding: 10px; margin-bottom: 15px; }

/** RESET PASSWORD **/
.reset-pwd .reset-email{ width: 300px; padding: 3px 5px; border: 1px #ccc solid; }
.reset-pwd form{ padding-top: 5px; }
.reset-pwd form p{ margin-bottom: 10px; }
.reset-pwd p{ margin-bottom: 5px; }
.reset-pwd .btn-reset{ display: block; width: 70px; padding: 10px 15px; font-size: 14px; font-weight: bold; cursor: pointer; }

.reset-error{ padding: 5px 10px; background: #F1DCDC; border: 1px solid #CBA5A5; margin-bottom: 5px; }
.reset-error p{ margin-bottom: 5px; }
.reset-success{ background: #faf8de; border: 1px solid #f4d495; padding: 5px 10px; margin-bottom: 5px; }
.reset-success h2{ font-weight: normal; }

/** UPDATE PROFILE **/
#user-photo{ margin-bottom: 10px; }
.food_photo{ font-weight: bold; }
.wp-editor-container{ background-color: #fff; border: 1px solid #ddd; }


.field{ margin-bottom: 5px; }
.field .input-text{ padding: 3px 5px; width: 300px; }
.field label{ width: 100px; display: block; float: left; }

#password{ padding-top: 20px; margin-bottom: 10px; }
#password h4{ margin-bottom: 10px; font-size: 22px; color: #444; }
.password-fields .pwd{ display: block; padding: 3px 5px; width: 250px; margin-bottom: 5px; }
.password-fields span.description{ font-size: 12px; display: block; margin-bottom: 10px; color: #666; }
.indicator-hint{ font-size: 14px; color: #444; padding-top: 10px; }
#user-profile input.input-submit{ padding: 10px 15px; width: 70px; font-size: 14px; font-weight: bold; }

.nopermission, .profile-error{ background: #EED8DC; border: 1px solid #CDB4B9; padding: 10px 15px; margin-bottom: 15px; }
.profile-error p{ margin-bottom: 5px; }